body {
  background: #010100;
}

.page {
  height: 100vh;

  background-repeat: no-repeat;
  background-size: 100vw;
}
.logo {
  margin: 20px 0 0 0;
  width: 40vw;
}

.overview {
  color: #f5f5f5;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  /* identical to box height */
}

.play-btn {
}
